In [1]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show , output_file

start = datetime.datetime(2019,12,14)
end = datetime.datetime(2020,7,14)
df=data.DataReader(name="ORCL", data_source="yahoo", start=start, end=end)
df

                 High        Low       Open      Close      Volume  Adj Close
Date
2019-12-13  55.400002  54.419998  55.000000  54.509998  21427700.0  53.567570
2019-12-16  54.980000  53.700001  54.599998  53.990002  19951000.0  53.056564
2019-12-17  54.060001  52.830002  53.889999  52.840000  19778400.0  51.926445
2019-12-18  53.610001  52.950001  53.060001  53.389999  14123100.0  52.466938
2019-12-19  53.599998  53.040001  53.299999  53.240002  11910100.0  52.319530
...               ...        ...        ...        ...         ...        ...
2020-07-08  56.680000  55.990002  56.630001  56.660000  12582200.0  56.193928
2020-07-09  57.799999  56.820000  56.990002  57.529999  15692600.0  57.056770
2020-07-10  57.520000  56.689999  57.470001  57.389999  12615800.0  56.917923
2020-07-13  57.840000  56.970001  57.400002  57.009998  15965600.0  56.541050
2020-07-14  57.290001  56.480000  56.669998  57.200001  15510300.0  56.969318

[146 rows x 6 columns]

In [2]:
date_inc=df.index[df.Close > df.Open]
date_dec=df.index[df.Close < df.Open]
date_inc

DatetimeIndex(['2019-12-18', '2019-12-23', '2019-12-26', '2019-12-31',
               '2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-13', '2020-01-14',
               '2020-01-16', '2020-01-21', '2020-01-23', '2020-01-28',
               '2020-01-30', '2020-02-03', '2020-02-04', '2020-02-05',
               '2020-02-07', '2020-02-10', '2020-02-12', '2020-02-14',
               '2020-02-18', '2020-02-20', '2020-02-26', '2020-02-28',
               '2020-03-02', '2020-03-04', '2020-03-06', '2020-03-09',
               '2020-03-10', '2020-03-13', '2020-03-16', '2020-03-17',
               '2020-03-18', '2020-03-20', '2020-03-24', '2020-03-26',
               '2020-03-27', '2020-04-01', '2020-04-02', '2020-04-03',
               '2020-04-06', '2020-04-08', '2020-04-09', '2020-04-13',
               '2020-04-14', '2020-04-16', '2020-04-17', '2020-04-22',
               '2020-04-24', '2020-04-27', '2020-05-04', '2020-05-07',
               '2020-05-08', '2020-05-11', '2020-05-14', '2020-05-15',
               '2020-05-22', '2020-05-27', '2020-05-29', '2020-06-02',
               '2020-06-03', '2020-06-05', '2020-06-08', '2020-06-15',
               '2020-06-16', '2020-06-18', '2020-06-19', '2020-06-22',
               '2020-06-25', '2020-06-29', '2020-06-30', '2020-07-01',
               '2020-07-02', '2020-07-06', '2020-07-08', '2020-07-09',
               '2020-07-14'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [3]:
def inc_dec(c, o):
    if c > o:
        value = "Increase"
    elif c < o:
        value = "Decrease"
    else:
        value= "Equal"
    return value
df["Status"]=[inc_dec(c, o) for (c, o) in zip(df.Close, df.Open)]
df["Average"]=(df.Close+df.Open)/2
df["Height"]=abs(df.Close-df.Open)
df

,High,Low,Open,Close,Volume,Adj Close,Status,Average,Height
Date,,,,,,,,,
2019-12-13,55.400002,54.419998,55.000000,54.509998,21427700.0,53.567570,Decrease,54.754999,0.490002
2019-12-16,54.980000,53.700001,54.599998,53.990002,19951000.0,53.056564,Decrease,54.295000,0.609997
2019-12-17,54.060001,52.830002,53.889999,52.840000,19778400.0,51.926445,Decrease,53.365000,1.049999
2019-12-18,53.610001,52.950001,53.060001,53.389999,14123100.0,52.466938,Increase,53.225000,0.329998
2019-12-19,53.599998,53.040001,53.299999,53.240002,11910100.0,52.319530,Decrease,53.270000,0.059998
...,...,...,...,...,...,...,...,...,...
2020-07-08,56.680000,55.990002,56.630001,56.660000,12582200.0,56.193928,Increase,56.645000,0.029999
2020-07-09,57.799999,56.820000,56.990002,57.529999,15692600.0,57.056770,Increase,57.260000,0.539997
2020-07-10,57.520000,56.689999,57.470001,57.389999,12615800.0,56.917923,Decrease,57.430000,0.080002
2020-07-13,57.840000,56.970001,57.400002,57.009998,15965600.0,56.541050,Decrease,57.205000,0.390003
2020-07-14,57.290001,56.480000,56.669998,57.200001,15510300.0,56.969318,Increase,56.934999,0.530003

In [4]:
p=figure(x_axis_type='datetime', height=300, width=1000, sizing_mode="scale_width")
p.title.text='CandleStick Chart'
p.grid.grid_line_alpha=0.5

p.segment(df.index,df.High,df.index,df.Low)

hours_sec = 12*60*60*1000
p.rect(df.index[df.Status=="Increase"],df.Average[df.Status=="Increase"],
       hours_sec, df.Height[df.Status=="Increase"], fill_color="green", line_color="black")

p.rect(df.index[df.Status=="Decrease"],df.Average[df.Status=="Decrease"], 
       hours_sec, df.Height[df.Status=="Decrease"], fill_color="red", line_color="black")

output_file(r'CS.html')
show(p)